@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
  padding: 0;
  background-color: #121212;
  scroll-behavior: smooth;
  color: white;
  text-align: center;
}

html{
  scroll-behavior: smooth;
}

.navbar {
  text-align: center;
  overflow: hidden;
  border-bottom: 1px solid #2b2a2a;
  background-color: #121212;
  position: sticky;
  top: 0;
  font-family: 'Cairo', sans-serif;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0ced6a;
  padding: 8px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
}

.nav-link:hover {
  opacity: 0.8;
}

.nav-link::before {
  transition: 300ms;
  height: 1.5px;
  content: "";
  position: absolute;
  background-color: #0ced6a
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.content {
  padding: 16px;
  font-family: Tahoma, sans-serif;
}

.header {
  text-align: center;
  font-family: 'Cairo', sans-serif;
}

.hoverlink {
  text-decoration: none;
  color: rgb(206, 203, 203)
}

.hoverlink:hover {
  color: rgb(136, 133, 133)
}

input{
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #0ced6a;
  background-color: transparent;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  width: 200px;
  margin-bottom: 30px; 
  color: white;
  text-align: center;
}

input:focus{
  border-color: #08a449;
  width: 250px;
}


.button{
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 2px solid #0ced6a;
  transition: 0.2s;
}

.button:hover{
  border-color: #08a449
}

.apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact {
  margin: 0.2em;
  height: 5em;
  width: 5em;
  border-radius: 0.5em;
}

.app .text {
  margin: 0.2em;
  font-size: 1em;
  text-align: center;
}

.app:hover {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

strong { 
  font-weight: bold; 
  color: #68d696;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project {
  border: 4px solid #0ced6a;
  font-size: 20px;
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 10px
}

.project p{
  padding: 6px;
}

.project:hover {
  
}

.project hr {
  border: 2px solid green;
  padding: 0px
}