<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VulcanWM</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="{{keywords}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="Portfolio" />
    <meta property="og:title" content="VulcanWM's Portfolio" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <meta property="og:url" content="https://vulcanwm.is-a.dev" />
    <meta property="og:site_name" content="VulcanWM's Portfolio" />
  </head>
  <body>
    <div class="header">
      <h1>Hi I'm VulcanWM!</h1>
    </div>
    <div class="navbar" id="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/contact">Contact</a>
      <a class="nav-link nav-link-ltr" href="/projects">My Projects</a>
      <a class="nav-link nav-link-ltr" href="/newsletter">Newsletter</a>
    </div>
    <div class="content">
      <div id="contact">
        <h1>Contact me</h1>
        <div class="apps">
          {% for contact in contacts.keys() %}
            <a href="{{contacts[contact]['Link']}}" target="_blank">
              <div class="app">
                <div class="contact github" style="background-image: url('https://newportfolio.vulcanwm.repl.co/{{contacts[contact]['Image']}}');
          background-size: 5em 5em;">
                </div>
                <div class="text">
                   <p>{{contact}}</p>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='sticky.js') }}"></script>
  </body>
</html>
