<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VulcanWM</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="{{keywords}}">
    <meta name="robots" content="index, follow">
    <meta property="og:type" content="Portfolio" />
    <meta property="og:title" content="VulcanWM's Portfolio" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{ url_for('static', filename='logo.png') }}" />
    <meta property="og:url" content="https://vulcanwm.is-a.dev" />
    <meta property="og:site_name" content="VulcanWM's Portfolio" />
  </head>
  <body>
    <div class="header">
      <h1>Hi I'm VulcanWM!</h1>
    </div>
    <div class="navbar" id="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/contact">Contact</a>
      <a class="nav-link nav-link-ltr" href="/projects">My Projects</a>
      <a class="nav-link nav-link-ltr" href="/newsletter">Newsletter</a>
    </div>
    <div class="content">
      <div class="about" id="about">
        <h1>About me</h1>
        <p>I'm a 13 year old full-stack developer from the UK.</p>
        <h1>Tech Stack</h1>
        <p>My main language is <strong>Python</strong> - I really like <strong>Flask</strong> - and I use <strong>HTML, JS and CSS</strong> for frontend for my projects.</p>
        <p>I use databases a lot in my projects, and it's usually <strong>MongoDB</strong>.</p>
        <p>I also have some knowledge of <strong>Swift</strong>, and can make simple iOS apps.</p>
      </div>
    </div>
    <script src="{{ url_for('static', filename='sticky.js') }}"></script>
  </body>
</html>
