<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VulcanWM</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  </head>
  <body>
    <div class="header">
      <h1>Hi I'm VulcanWM!</h1>
    </div>
    <div class="navbar" id="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/contact">Contact</a>
      <a class="nav-link nav-link-ltr" href="/projects">My Projects</a>
      <a class="nav-link nav-link-ltr" href="/newsletter">Newsletter</a>
    </div>
    <div class="content">
      <h1>My projects</h1>
      <div class="projects">
          {% for project in projects %}
            <a href="{{projects[project]['Link']}}" class="{{projects[project]['Status']}}" target="_blank">
              <div class="project">
                <h3>{{project}}</h3>
                <hr>
                {% if projects[project]['Status'] == "progress" %}
                  <p class="red">In progress</p>
                {% else %}
                  <p>{{projects[project]['Desc']}}</p>
                {% endif %}
              </div>
            </a>
        {% endfor %}
      </div>
    </div>
    <script src="{{ url_for('static', filename='sticky.js') }}"></script>
  </body>
</html>